#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #565656;
  padding: 0.5vh 1vw;
  height: 7.5vh;
}

#edamam-badge {
  height: 100%;
}

#app-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

recipe-search-bar {
  width: 30vw;
}

::ng-deep app-home-route,
::ng-deep app-search-route {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
